html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: rgb(53, 52, 52);
    color: honeydew;
    text-decoration: none;
    box-sizing: border-box;
    min-height: 1px;
    margin: 2%;
}


/*    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
*/

.deco {
    background-color: rgb(14, 13, 13);
}

.header_logo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2%;
}

#nav-tsl {
    background-color: rgb(14, 13, 13);
    text-decoration: none;
}

.index-bienvenida {
    background-color: rgb(14, 13, 13);
    padding-top: 2%;
}

.index-bienvenida h2 {
    background-image: url(img/022A.jpg);
    background-size: 100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    font-family: 'Black Ops One', cursive;
    color: rgb(193, 12, 182);
    text-shadow: 2px 3px 4px rgb(35, 12, 35);
    text-align: center;
    font-size: 6rem;
    padding-top: 8%;
    padding-bottom: 5.5%;
    margin: 2%;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    border-width: 8px;
    border-color: rgb(53, 52, 52);
}

#button-index {
    text-align: center;
    margin: 5%;
}

#btn-index {
    color: rgb(193, 12, 182);
    text-shadow: 2px 3px 4px rgb(35, 12, 35);
    font-size: 4.0rem;
    letter-spacing: 3px;
    margin: 15px;
    border-width: 8px;
    border-color: rgb(53, 52, 52);
}

.sponsor-s {
    font-family: 'Black Ops One', cursive;
    color: rgb(253, 180, 44);
    text-shadow: 2px 3px 4px rgb(53, 52, 52);
    font-size: 5rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    border-width: 8px;
    border-color: rgb(53, 52, 52);
    padding-bottom: 25px;
    padding-right: 20px;
    padding-left: 20px;
}

.sponsor {
    display: block;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 5rem;
}

#nav-nosotros {}

.nosotros {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    border-width: 8px;
    border-color: rgb(53, 52, 52);
    margin: 5%;
}

.nosotros h3 {
    font-family: 'Black Ops One', cursive;
    color: rgb(253, 180, 44);
    text-shadow: 2px 3px 4px rgb(53, 52, 52);
    font-size: 3rem;
    margin: 4%;
}

#redes ul li a {
    padding: 5%;
    color: rgb(255, 255, 255);
    font-size: 4rem;
    text-decoration: none;
    letter-spacing: 8px;
}

.redes-nav {
    display: flex;
    list-style: none;
}

.hover-button :hover {
    transform: scale(1.1);
}

.facebook-button {
    width: 100px;
    height: 100px;
    background-color: #3b5998;
    margin: 30px;
    padding: 7px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    border-width: 8px;
    border-color: rgb(53, 52, 52);
}

.instagram-button {
    width: 100px;
    height: 100px;
    background: #f09433;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    margin: 50px;
    padding: 7px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    border-width: 8px;
    border-color: rgb(53, 52, 52);
}

#nav-shop {
    padding-top: 10%;
}

.cuadro {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    border-width: 8px;
    border-color: rgb(53, 52, 52);
    margin: 2%;
    padding-left: 0;
}

.compras {
    font-family: 'Black Ops One', cursive;
    background-color: rgb(193, 12, 182);
    color: rgb(253, 180, 44);
    text-shadow: 2px 3px 4px rgb(53, 52, 52);
    font-size: 3rem;
    margin: 4%;
}

.btn-inscrip a {
    background-color: rgb(37, 77, 255);
    text-shadow: 2px 3px 4px rgb(53, 52, 52);
    color: rgb(193, 12, 182);
    text-align: center;
    text-decoration: none;
    font-family: 'Black Ops One', cursive;
    font-size: 4.0rem;
}

.killtest {
    background-color: rgb(37, 77, 255);
    text-shadow: 2px 3px 4px rgb(53, 52, 52);
    color: rgb(193, 12, 182);
    text-align: center;
    text-decoration: none;
    font-family: 'Black Ops One', cursive;
    font-size: 2.0rem;
    margin: 50px;
    padding: 7px;
}

#kill-modalbody {
    font-family: 'Black Ops One', cursive;
    background-color: rgba(0, 0, 0, 0.781);
    color: rgb(25, 252, 5);
    text-align: center;
    text-decoration: none;
    font-size: 3.0rem;
    letter-spacing: 3px;
}

.killtest-n {
    color: rgb(252, 5, 5);
    text-align: center;
    text-decoration: none;
    font-size: 3.0rem;
    letter-spacing: 3px;
}

.killstes-btn {
    background-color: rgba(0, 0, 0, 0.781);
    color: rgb(25, 252, 5);
    font-size: 2.0rem;
    margin: 5px;
}

#register {
    background: url(img/027.jpg);
    background-size: cover;
    min-height: 100%;
    background-repeat: no-repeat;
    text-align: center;
}

#register form {
    font-size: 2.3rem;
    letter-spacing: 0.1rem;
    color: black;
    text-shadow: 2px 3px 4px rgb(53, 52, 52);
}